.logo{
    width:80px; height:60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}

::selection{  /* part highlighted by user! when selected using mouse */
    background: #1b1b1b;
    color: #fff;
}
.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: #fff;
    z-index: 9;
    margin-bottom:10px;
}
.links-container{
    display: flex;
    list-style: none;
}
.link {
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
.link:hover {
    background-color: rgb(95, 215, 129);
    text-decoration: wavy;
}
.header{
    margin-top: 60px;
    width: 100%;
    height: 400px;
    background: url(../img/sky-sunset.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    border-radius: 10px;
    color:aqua;
}
.heading{
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
}

.small{
    display: block;
    font-size: 40px;
}

.no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #1515df;
}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aliceblue;
    color:#000;
    text-decoration: none;
}
.btn:hover{
    background-color: aquamarine;
    
}

